*{
    margin: 0;
    padding: 0;
}
body {
   
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #283241;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.escola-imagem{
    width: 10%;
    margin-left: 120px;
}

.escola{
    background-image: url(shrek-detalhes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;


}


.escola-div-conteudo{
    width: 35%;
    padding: 35px;
    backdrop-filter: blur(10px);
    border: 2px solid whitesmoke;
    border-radius: 1.5em;


}



.escola-titulo{
    padding: 24px 0;
}



.estudante{
    padding: 24px 0;
}


.estudante-imagem{
    width: 120px;
    border-radius: 1em;
}


.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}


.estudante-div{
    text-align: center;
    padding: 16px 0;
}


.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}


.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    align-items: center center;
}


.rodape{
    background-color: black;
    text-align: center;
}


.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}

.bnt{
    text-decoration: none;
    border: 1px solid #04290d;
    width: 160em;
    align-items: center;
    padding: 3px;
    font-family:'Poppins', sans-serif;
    background-color: rgb(13, 156, 32);
    font-size: 15px;
    color: aliceblue;
    border-radius: 3px;
}